.place-order{
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 100px;
  gap: 50px;
}
.place-order-left{
  width: 100%;
  max-width: 30%;
}
.place-order-left .title{
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 600;  
}
.place-order-left input{
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  outline-color: tomato;
}
.place-order-left .multi-filed{
  display: flex;
  gap: 10px;
}
